<html>
	<head>
		<title>Feedvestigate</title>
		<script>
			function fv() {
				$.ajax({
					url : '/feedvestigate?date=' + cal.currentDate.getTime(),
					method : 'GET',
					success : function(resp) {
						$('body').append(resp);
					}
				});
			}
		</script>
	</head>
	<body style="opacity:0.3">
		<div id="loading" style="position: absolute; left:50%; top:50%; z-index:500; opacity: 1;">
			<img src="public/images/loading.gif"/>
		</div>
		<div style="width: 50%; margin: auto; text-align: center; padding: 20px; font-size: 4em; font-family: sans-serif;color: #2D1150;">
			Feedvestigate
		</div>
		<div class="date-wrapper">
			<div class="date-selector" id="date-select"></div>
			<form id="fvid" method="GET" action="/feedvestigate">
				<input id="date-field" name="date" type="hidden"/>
				<input class="btn btn-success" type="submit" value="FeedVestigate" style="width:50%; margin:0 25% 0 25%;"/>
			</form>
		</div>

		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title" id="myModalLabel">Welcome! You must be Madhurima!</h4>
					</div>
					<div class="modal-body">
						I am Feedvestigate.
						KP was saying you'll visit. Many many happy returns of the day!!
						If he still hasn't called, probably he must be sleeping.. Lazy a**! can't even stay awake for a close friend's birthday.
						The email which he sent was also scheduled.
						<br/>
						Now, coming to the point, this website is an incomplete facebook timetime visualization application. Kp's plan was to release this app
						on your birthday as your birthday gift but still lots of work is pending. You can still see a small part of the application which has been completed but
						its still not bug-free. Even there is no proper error handling in place.</br>
						You need to select a date (works best with birth dates) from the date picker on the home page.
						You'll also need to grant me, a read-only access to you facebook public feed and thats all I want.</br>
						If everything goes as planned, you should be seeing a tree of your birthday wishes. If you find any errors or bugs, call him and wake him up and ask him to fix it :D
						Visualizations looks best when there are atleast 50 posts for the date you've selected. So if you still haven't got lot of wishes for this year, may be you should try visualizing your previous birthday wishes.
						<br/>
						Hope you'll enjoy your half-completed gift :D Happy birthday!!
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">
							Claim your gift!
						</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</body>
	<script type="text/javascript" src="steal/steal.js"></script>
	<script>
		steal('steal/ui.js');
	</script>
</html>
